/build
!/src/main/res/drawable-hdpi/one.jpg
!/src/main/res/drawable-ldpi/
!/src/main/res/drawable-xxhdpi/
!/src/main/res/drawable-xhdpi/one.jpg
!/src/main/res/layout-large/
!/src/main/res/layout-normal/
